@import "./clearfix.scss";

// Шрифт страницы
$font: arial, sans-serif;
//Ширина  контентной части
$windows-width: 998px;

* {
  font-family: $font;
}

body {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//Основной контейнер
.main-container {
  width: $windows-width;
  font-family: $font;
}

//Шапка сайта
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  padding-left: 15px;
  padding-bottom: 15px;
}

//Логотип сайта
.header-main-logo {
  padding: 10px;
  color: #424242;
  font-size: 37px;
  font-weight: bold;
}

//Навигационное меню в шапке
.header-nav-menu {
  display: flex;
  ul {
    display: inline-flex;
    column-gap: 1.5rem;
    text-decoration: none;
  }
  li {
    color: #424242;
    font-family: $font 15px;
    font-weight: bold;
    list-style-type: none;
  }
}

//"Промо" блок
.promo-block {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  width: calc($windows-width);
  height: calc($windows-width/2);
  background-size: calc($windows-width), calc($windows-width/2);
  background-repeat: no-repeat;
  background-image: url(../../image/main-pic.jpg);

  //Описание блока "Промо"
  .promo-block-description {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    h1 {
      font-family: $font;
      color: #fff;
      font-size: 48px;
      font-weight: bold;
    }
    h2 {
      font-family: $font;
      color: #fff;
      font-size: 30px;
      font-weight: bold;
    }
  }

  //Кнопка "Промо" блока
  .promo-block-button {
    color: #fff;
    background-color: #f8cd53;
    font-size: 23px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border: solid;

    &:hover {
      background-color: #e0c67d;
      border: solid;
    }
    &:active {
      background-color: #ff0000;
      border: solid;
    }
  }
}

//Блок "О нас"
.block-about-us {
  display: flex;
  flex-direction: column;
  width: 100%;

  .block-about-us-header {
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 22px;
      color: #424242;
      font-weight: bold;
    }
    p {
      font-size: 13px;
      color: #424242;
      font-weight: bold;
    }
  }
  .block-about-us-items {
    display: flex;
    width: 100%;
    padding-top: 2rem;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }
  .block-about-us-cart {
    display: flex;
    color: #5c5c5c;
    font-size: 13px;
    width: 19rem;
    font-weight: normal;
    flex-direction: column;

    .img-size {
      width: 64px;
      height: 64px;
    }

    h2 {
      font-size: 22px;
      color: #424242;
      font-weight: bold;
      padding: 15px;
    }
    p {
      font-size: 13px;
      color: #424242;
      font-weight: bold;
    }
  }
}

// Свойство для центрирование блока
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// Свойство для центрирование блока по левой стороне
.left-content {
  display: flex;
  justify-content: left;
  align-items: center;
}

// Свойство для центрирование блока по правой стороне
.right-content {
  display: flex;
  justify-content: right;
  align-items: center;
}

.footer {
  display: flex;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 3rem;
  height: fit-content;
  background-color: #515151;
  #text {
    width: 55%;
  }
  h5 {
    padding-right: 15px;
    font-size: 14px;
    color: #cecece;
    font-weight: normal;
  }
}
